/* 
    Created on : 2014.11.25., 11:53:42
    Author     : rych
*/

body {
  margin: 0;
}

#header {
  background-color: #56c04e;
  padding: 10px 20px;
}
#header h1#sitename {
  margin: 5;
  color: white;
  text-align: center;
  font-weight: bold;
}

#content {
  padding: 10px 20px;
  background-color: #cdffc9;
}

.news {
  margin-bottom: 15px;
}
.news .title {
  border-bottom: 1px solid #555;
  color: #555;
  font-weight: bold;
  font-size: 1.3em;
}
.news .text {
  margin: 5px 0;
}
.news .date {
  text-align: right;
  font-style: italic;
}

#footer {
  background-color: #272c26;
  color: white;
  padding: 10px 20px;
}

#header #navigation a {
    color: black;
    background: #b7ffb1;
    font-weight: bold;
}
#header #navigation a:hover {
    color: black;
    background: #dddddd;
    font-weight: bold;
}

.tablazat th,
.tablazat td {
    border: 1px solid black;
    padding: 5px;
}
