body {
    margin: 0;
    padding: 0;
    background: #599a68;
    
    
}

#header {
    background-color: #cdffc9;
    padding: 10px 0;
    background-image: url(../../Image/banner.jpg);
    max-width: 960px;
    margin: 0 auto;
    background-repeat: repeat-x;
}
#myCarousel{
    max-width: 245px;
    margin: 0 auto; 
} 
.carousel-inner > .item > img {
    margin: 0 auto;
    max-height: 100px;
}

#header h1#sitename {
    margin: 30px 0 70px 0;
    color: white;
    text-align: center;
    font-weight: bold;
    font-style: A;
    height: 70px;


}

#content {
    text-align: center;
    padding: 10px 20px;
    background-color: #cdffc9;
    max-width: 960px;
    margin: 0 auto;


}

.news {
    margin-bottom: 15px;

}
.news .title {
    border-bottom: 1px solid #555;
    color: #555;
    font-weight: bold;
    font-size: 1.3em;

}
.news .text {
    margin: 5px 0;
}
.news .date {
    text-align: right;
    font-style: italic;
}

#footer {
    background-color: #b7d0dd;
    text-align: center;
    color: black;
    padding: 10px 20px;
    max-width: 960px;
    margin: 0 auto;
}

#header #navigation a {
    color: white;
    background: #005121;
    font-weight: bold;
}
#header #navigation a:hover {
    color: black;
    background: #dddddd;
    font-weight: bold;

}

.nav-pills > li + li {
    margin-left: 6px;
}
.nav-pills > li > a {
    border-radius: 5px;
    margin: 0 2px;
}

.nav > li > a {
    display: block;
    padding: 6px 20px;
    position: relative;

}
.jaratok{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.jaratok th,
.jaratok td {
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 55px;
    padding-right: 55px;
    background-color: #33FF66;
   
    
}

#myCarousel {
    max-width: 245px;
    margin: 0px auto;
    margin-bottom: 30px;
}
