/* 
    Created on : 2014.11.25., 11:53:42
    Author     : rych
*/


body {
    margin: 0;
    padding: 0;
    background-image: url(../../Image/road.jpg);
    
}

#header {
    background-color: #56c04e;
    padding: 10px 0;
    background-image: url(../../Image/banner.jpg);
    max-width: 960px;
    margin: 0 auto;
}
#myCarousel{
    max-width: 245px;
    margin: 0 auto; 
} 
.carousel-inner > .item > img {
    margin: 0 auto;
    max-height: 100px;
}

#header h1#sitename {
    margin: 30px 0 70px 0;
    color: white;
    text-align: center;
    font-weight: bold;
    font-style: A;
    height: 70px;


}

#content {
    padding: 10px 20px;
    background-color: #cdffc9;
    max-width: 960px;
    margin: 0 auto;


}

.news {
    margin-bottom: 15px;

}
.news .title {
    border-bottom: 1px solid #555;
    color: #555;
    font-weight: bold;
    font-size: 1.3em;

}
.news .text {
    margin: 5px 0;
}
.news .date {
    text-align: right;
    font-style: italic;
}

#footer {
    background-color: #272c26;
    color: white;
    padding: 10px 20px;
    max-width: 960px;
    margin: 0 auto;
}

#header #navigation a {
    color: white;
    background: #005121;
    font-weight: bold;
}
#header #navigation a:hover {
    color: black;
    background: #dddddd;
    font-weight: bold;

}

.nav-pills > li + li {
    margin-left: 6px;
}
.nav-pills > li > a {
    border-radius: 5px;
    margin: 0 2px;
}

.nav > li > a {
    display: block;
    padding: 6px 20px;
    position: relative;

}

